@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Error</title>
</head>
<body>
    <h1>Error</h1>
    <p>An error occurred while processing your request.</p>
</body>
</html>
