@{
    ViewData["Title"] = "Wireframe";
}

<h1>Learn Hotwire</h1>

<p>Yes, you can really use Hotwire without Rails. Give it a try!</p>

<h2>Gallery</h2>
<turbo-frame id="gallery">
    <img src="~/images/ocean.jpg" alt="Ocean" width="500" height="400">

    <div>
        <a asp-controller="Gallery" asp-action="Forest">Next (forest)</a>
    </div>
</turbo-frame>
