@{
    ViewData["Title"] = "ASP.NET Core with Hotwire";
}

<h1>Turbo Streams</h1>
<p>bring your application to life using turbo streams!</p>

<p id="subscriber-count" style="padding: 1em; background-color: lightyellow; text-align: center;">
    You have 2 subscribers
</p>

<hr />

<div style="width: 50%; margin: 2em auto;">
    <div id="newsletter">
        <form asp-controller="Home" asp-action="Subscribe" method="post">
            <div>
                <label for="name">Name:</label>
                <input type="text" name="name" id="name" placeholder="Enter your name" />
            </div>

            <br />

            <div>
                <label for="email">Email</label>
                <input type="email" name="email" id="email" placeholder="Enter your email" />
            </div>

            <br />
            <button type="submit">Subscribe</button>
        </form>
    </div>
</div>

<hr />

<div style="width: 50%; margin: 0 auto;">
    <h3>Subscriber List</h3>
    <ul id="subscriber-list">
        <li>Joel Spolsky</li>
        <li>Jason Fried</li>
    </ul>
</div>
