@{
    Layout = null;
}
<turbo-stream-replace target="subscriber-count">
    <p id="subscriber-count" style="padding: 1em; background-color: lightyellow; text-align: center;">
        You have @Random.Shared.Next(100) subscribers.
    </p>
</turbo-stream-replace>

<turbo-stream-append target="subscriber-list">
    <li>@Context.Request.Form["name"]</li>
</turbo-stream-append>
