<turbo-frame id="gallery">
    <img src="~/images/forest.jpg" alt="forest" width="500" height="400">

    <div>
        <a asp-controller="Gallery" asp-action="Mountains">Next (mountains)</a>
    </div>
</turbo-frame>