@{
    Layout = null;
}

<turbo-frame id="gallery">
    <img src="~/images/mountains.jpg" alt="Mountains" width="500" height="400">

    <div>
        <a asp-controller="Gallery" asp-action="Ocean">Next (ocean)</a>
    </div>
</turbo-frame>
