@{
    Layout = null;
}

<turbo-frame id="gallery">
    <img src="~/images/ocean.jpg" alt="Ocean" width="500" height="400">

    <div>
        <a asp-controller="Gallery" asp-action="Forest">Next (forest)</a>
    </div>
</turbo-frame>
